---
name: Update Template CI
on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
    types: [update_template]
  workflow_dispatch:
jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Create App token
        id: create_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.FSDH_UPPTIME_BOT_APP_ID }}
          private-key: ${{ secrets.FSDH_UPPTIME_BOT_APP_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ steps.create_token.outputs.token }}
      - name: Update template
        uses: upptime/uptime-monitor@master
        with:
          command: "update-template"
        env:
          GH_PAT: ${{ steps.create_token.outputs.token }}
      - name: Remove workflows files
        run: |
          FILES_TO_REMOVE=(".github/workflows/summary.yml" ".github/workflows/uptime.yml" ".github/workflows/response.yml" ".github/workflows/graphs.yml" ".github/workflows/update-template.yml" ".github/workflows/site.yml" ".github/workflows/setup.yml")

          REMOVED=false
          for file in "${FILES_TO_REMOVE[@]}"; do
            if [ -f "$file" ]; then
              echo "File $file found. Removing..."
              git rm "$file"
              REMOVED=true
            else
              echo "File $file not found. Skipping removal."
            fi
          done
          if [ "$REMOVED" = true ]; then
            git config user.name "Upptime Bot"
            git config user.email "73812536+upptime-bot@users.noreply.github.com"
            git commit -m "Remove workflows files: ${FILES_TO_REMOVE[*]}"
            git push origin ${{ github.head_ref }}
          fi    
